<h4 class="text-center">Disponible</h4>
<hr>
<div class="row" style="margin-top: 40px;">
    <div class="col-lg-6">
        <div class="alert alert-success ">
             <strong>   
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-success"><img [src]="billete500" alt="" style="width: 70px; height: 30px;"> ($ 5,000.00)</li>
                                    <li class="list-group-item list-group-item-success"><img [src]="billete200" alt="" style="width: 70px; height: 30px;"> ($ 3,000.00)</li>
                                    <li class="list-group-item list-group-item-success"><img [src]="billete100" alt="" style="width: 70px; height: 30px;"> ($ 2,000.00)</li>
                                    <li class="list-group-item list-group-item-success"><img [src]="billete50" alt="" style="width: 70px; height: 30px;">  ($ 2,500.00)</li>
                                </ul>
                      </strong>
        </div>
    </div>
    <div class="col-lg-6">
       <!-- <div class="sizeAlert">
            Restante <strong>$Restante</strong>
        </div> -->
        <div class="alert alert-danger sizeAlert">
            Cantidad Total:  <strong>$ 2,350.00</strong>
        </div>
    </div>
</div>

